body{
      font-family:'open sans ',sans-serif;

}
/*
div{
    width: 200px;
    height: 150px;
    background-color: blueviolet;
    -webkit-animation-name: chg-couleur;
    -webkit-animation-duration: 5s;
}
@-webkit-keyframes  chg-couleur{
    from {background-color: blueviolet;}
    to { background-color: rgb(224, 213, 53);}
}
*/
div{
width: 200px;
height: 150px;
background-color: blueviolet;
position: relative;
-webkit-animation-name: chg-couleur;
-webkit-animation-duration: 5s;
-webkit-animation-delay: 3s;
-webkit-animation-timing-function: ease;
-webkit-animation-direction: alternate;
-webkit-animation-iteration-count: infinite;

}
@-webkit-keyframes chg-couleur{
    0%{background-color: green;top: 0PX;Left:0px;}
    25%{background-color: blueviolet;bottom:0PX;left: 200px;}
    50%{background-color: blue;right: 0px;bottom: 0px;}
    75%{ background-color: red;top:500px;right: 0px;}
    100%{ background-color: aqua;top: 0PX;Left:200px;}
}
